#header {
    border: solid 1px;
    height: 150px;
    background-image: url("../../assets/nymeria.png");
    background-size: cover;
}

#header img {
    width: 150px;
    height: 150px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

.head {
    margin: 10px;
}

.nombre {
    float: left;
    padding-left: 30px;
    padding-top: 30px;
}