.mis {
    margin-top: 50px;
    float: left;
    margin-right: 300px;
}

.otros {
    height: 200px;
    border: 1px solid black;
    margin: 15px;
    padding: 5px;
    overflow-y: scroll;
    float: left;
}

